.header {
  margin: auto;
  width: 20vw;
  text-align: left;
  margin-bottom: 20px;
}

.petName {
  color: #df5555;
}

.pet {
  margin-top: 20px;
}

.pet h3 {
  margin: 0;
}

.pet h5 {
  margin: 0;
  color: #4f4f4f;
}

.main_pet {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.evolution_grid {
  gap: 2vw;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
}
